<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <title>综合指挥质效平台-接处警</title>
    <link rel="stylesheet" href="css/layui.css">
    <link rel="stylesheet" href="css/common.css">
	<style type="text/css">
		.layui-nav-child{
				z-index: 999;
		}
	</style>
</head>
<body>
	<div class="topbar">
		<div class="topbarbox">
			<div style="float: left;">
				今天是
				<span id="nongli"></span>
			</div>
			<div style="float: right;">
				您好！
				<span id="yonghuming"></span>
				&nbsp;&nbsp;&nbsp;
				<a href="javascript:;" id="out" style="color: red;">退出</a>
			</div>
		</div>
	</div>
	
    <div class="topBanner"></div>
	
	<!-- 导航栏 -->
	<div class="wrap" id="app">
	    <ul class="layui-nav cbox padd">
			<li class="layui-nav-item"><a href="index.html">首页</a></li>
	        <li class="layui-nav-item" v-for="item in list">
	          <a href="javascript:;">{{item.modelName}}</a>
			  <dl class="layui-nav-child">
			        <dd v-for="k in item.subModelList">
			        	<a :href="k.url" v-html="k.modelName"></a>
			        </dd>
			    </dl>
	        </li>
	      </ul>
	</div>
	<!-- 导航栏 -->
	
	
	<div class="zhibantable" style="margin-bottom: 150px;">
		<div class="layui-tab-item layui-show">
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 25px;">
				<legend>天气情况为空的交通类警情</legend>
			</fieldset>
			<table class="layui-hide" id="demo" lay-filter="demo"></table>
		</div>
		
		
		
	    
	
	</div>
	
	
<div id="footer">
	
</div>
    





<script src="vue.js" type="text/javascript" charset="utf-8"></script>
<script src="vnav.js" type="text/javascript" charset="utf-8"></script>
<script src="layui.all.js"></script>
<script src="jquery.js"></script>
<script src="locationurl.js" type="text/javascript" charset="utf-8"></script>
<script src="base.js" type="text/javascript" charset="utf-8"></script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="checkDetal">查看详情</a>
</script>
<script type="text/javascript">
	// data里面非法处警
	// http://localhost:8080/cj/queryIllegalCjxx
	
	
	$("#footer").load("public/footer.html");
	
	var laydate = layui.laydate;
	var table = layui.table;
	var element = layui.element;
	
	function getTabledata(url){
		// 获取全部头部数据
		table.render({
		  elem: '#demo'
		  ,url:url
		  ,defaultToolbar: []
		  ,page:true
		  ,cols: [[
			 {field: '', title: '序号',width:60,templet: function(d){ return (d.LAY_INDEX); },align:"center",fixed: 'left',}
			,{field:'jjrqsj',  title: '接警日期',align:"center",width:210,fixed: 'left'}
			,{field:'jjbh',  title: '接警编号',align:"center",width:210,fixed: 'left'}
			 ,{field:'remarks',  title: '警情备注',align:"center",width:100}
			,{field:'p0',  title: '移送接受单位/人/时间为空',align:"center",width:210,templet:function(d){ if(d.p0==0){return "√"}else{return "×"}}}
			,{field:'p1',  title: '事发场所未具体',align:"center",width:210,templet:function(d){ if(d.p1==0){return "√"}else{return "×"}}}
			,{field:'p2',  title: '处警类别为其他警情or处警类别未填到字典项最底层',align:"center",width:210,templet:function(d){ if(d.p2==0){return "√"}else{return "×"}}}
			,{field:'p3',  title: '处警统计信息未填写',align:"center",width:180,templet:function(d){ if(d.p3==0){return "√"}else{return "×"}}}
			,{field:'p4',  title: '关联损失情况警情类型，损失情况未填写',align:"center",width:210,templet:function(d){ if(d.p4==0){return "√"}else{return "×"}}}
			,{field:'p5',  title: '处警类别为网络诈骗但属性未标注涉网',align:"center",width:210,templet:function(d){ if(d.p5==0){return "√"}else{return "×"}}}
			,{field:'p6',  title: '处警超时',align:"center",width:110,templet:function(d){ if(d.p6==0){return "√"}else{return "×"}}}
			,{field:'p7',  title: '审批超时',align:"center",width:110,templet:function(d){ if(d.p7==0){return "√"}else{return "×"}}}
			,{field:'p8',  title: '重大警情',align:"center",width:110,templet:function(d){ if(d.p8==0){return "√"}else{return "×"}}}
			,{field:'p9',  title: '自接警情',align:"center",width:110,templet:function(d){ if(d.p9==0){return "√"}else{return "×"}}}
			,{field:'p10',  title: '事发时间上限、下限为空',align:"center",width:160,templet:function(d){ if(d.p10==0){return "√"}else{return "×"}}}
			,{field:'p11',  title: '天气情况为空的交通类警情',align:"center",width:160,templet:function(d){ if(d.p11==0){return "√"}else{return "×"}}}
			,{ title:'操作', toolbar: '#barDemo',align:"center",width:120,fixed: 'right'  }
		  ]]
		});
	}
	
	
	
	getTabledata(baseUrl+"/cj/queryCjList?condition=weatherConditionIsEmptyWhileTraffic");
	
	table.on('tool(demo)', function(obj){
	    var data = obj.data;
		var dmTime = data.dm_time;
	    if(obj.event === 'checkDetal'){
		  window.location = "cjdetail.html?jjbh="+data.jjbh;
	    }
	  });
	
	
	
	
	  
	  
	
</script>
	







</body>
</html>