<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <title>综合指挥质效平台-移动接处警</title>
    <link rel="stylesheet" href="css/layui.css">
    <link rel="stylesheet" href="css/common.css">
	<style type="text/css">
		.layui-table-header .layui-table-cell {
			height: auto;
			line-height: 28px;
			padding: 0 15px;
			position: relative;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			box-sizing: border-box;
		}
		/* .layui-table-view .layui-table {
		            height: 100%;
		        } */
	</style>
</head>
<body>
	
	<div class="topbar">
		<div class="topbarbox">
			<div style="float: left;">
				今天是
				<span id="nongli"></span>
			</div>
			<div style="float: right;">
				您好！
				<span id="yonghuming"></span>
				&nbsp;&nbsp;&nbsp;
				<a href="javascript:;" id="out" style="color: red;">退出</a>
			</div>
		</div>
	</div>
	
    <div class="topBanner"></div>
	
	<!-- 导航栏 -->
	<div class="wrap" id="app">
	    <ul class="layui-nav cbox padd">
			<li class="layui-nav-item"><a href="index.html">首页</a></li>
	        <li class="layui-nav-item" v-for="item in list">
	          <a href="javascript:;">{{item.modelName}}</a>
			  <dl class="layui-nav-child">
			        <dd v-for="k in item.subModelList">
			        	<a :href="k.url" v-html="k.modelName"></a>
			        </dd>
			    </dl>
	        </li>
	      </ul>
	</div>
	<!-- 导航栏 -->
	
	
    <div class="zhibantable" style="margin-bottom: 150px;">
		  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 25px;">
            <legend>每日通报110</legend>
          </fieldset>
			<div class="layui-container">
				<div class="layui-row">
					<div class="layui-col-lg12">
						<!-- <div class="demoTable">
						    请选择新增通报日期：
						    <div class="layui-inline">
						      <input class="layui-input"  autocomplete="off" id="newTime">
						    </div>
						    <button class="layui-btn" id="sctb">生成通报</button>
						  </div> -->
						<table class="layui-hide" id="mrtbList" lay-filter="demo"></table>
						
					</div>
				</div>
				
			</div>
		  
		  
    </div>
	

    <div id="footer"></div>

<script src="vue.js" type="text/javascript" charset="utf-8"></script>
<script src="vnav.js" type="text/javascript" charset="utf-8"></script>
<script src="layui.all.js"></script>
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="xiugai" style="display: none;">修改</a>
	<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="del" style="display: none;">删除</a>
	<!-- <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="copy">复制地址</a> -->
</script>
<script src="jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="locationurl.js" type="text/javascript" charset="utf-8"></script>
<script src="base.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	showlogin();
	
	$("#footer").load("public/footer.html");
	
	var upload = layui.upload;
	var laydate = layui.laydate;
	var table = layui.table;
	
	// 生成每日通报时间选择
	 laydate.render({
	    elem: '#newTime'
	  });
	  
	  // GET http://localhost:8080/mrtb/addMrtb?tbrq=2020-05-24
	  // Accept: */*
	  // Cache-Control: no-cache
	  // token:{{token}}
	  
	  $("#sctb").click(function(){
		  if($("#newTime").val()==""){
			  layer.msg("生成通报时间不能为空！");
		  }else{
			  $.get(baseUrl+"/mrtb/addMrtb?tbrq="+$("#newTime").val()+"&token="+token,function(res){
				  //console.log(res)
				  if(res.code==0){
					  layer.msg("生成成功！");
					  table.reload("testReload");
					  window.location = "mr110xiugai.html?id="+res.data;
				  }else{
					  layer.msg(res.msg);
				  }
			  })
		  }
		  
	  })
	
	
	
	function getTabledata(url){
		table.render({
		  elem: '#mrtbList'
		  ,url: url
		  ,cols: [[
		     {field: '', title: '序号',width:60,templet: function(d){ return (d.LAY_INDEX); },align:"center"}
		    ,{field:'', title: '通报日期',  align:"center",templet: function(d){ return (d.tbrq+"每日通报");}}
			,{title:'操作', toolbar: '#barDemo',align:"center"}
		  ]]
		  ,page:true
		  ,id:"testReload"
		});
	}
	
	
	// #分页获取每日110数据
	// GET http://localhost:8080/mrtb/queryPage
	getTabledata(baseUrl+"/mrtb/queryPage");
	
	
	
	
	table.on('tool(demo)', function(obj){
		var data = obj.data;
		if(obj.event=="detail"){
			// window.location="mr110detail.html?id="+data.id;
			window.open("mr110detail.html?id="+data.id+"&deptId="+deptId); 
		}else if(obj.event=="xiugai"){
			window.location="mr110xiugai.html?id="+data.id;
		}else if(obj.event=="del"){
			// alert(obj.data.id);
			layer.confirm('真的删除么', function(index){
			   layer.close(index);
			   //向服务端发送删除指令
				var load1 = layer.load(1);
				$.get(baseUrl+"/mrtb/deleteMrtb?id="+obj.data.id+"&token="+token,function(res){
					  if(res.code==0){
						  layer.close(load1);
						  layer.msg("删除成功！");
						  table.reload("testReload");
					  }else{
						  layer.close(load1);
						  layer.msg(res.msg);
					  }
				})
			  });
			
			
		}
	})
	
	
   
	
	
	
</script>

</body>
</html>