<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <title>综合指挥质效平台-移动接处警</title>
    <link rel="stylesheet" href="css/layui.css">
    <link rel="stylesheet" href="css/common.css">
	<style type="text/css">
		.layui-table-header .layui-table-cell {
			height: auto;
			line-height: 28px;
			padding: 0 15px;
			position: relative;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			box-sizing: border-box;
		}
		#yjjcjtb th{
			background-color: #78BFD9;
			color: white;
			text-align: center;
		}
		#yjjcjtb tbody tr{
			text-align: center;
		}
		#zbmjtable th,#zd5List th,#xtjList th,#yjdmtable th{
			background-color: #78BFD9;
			color: white;
			text-align: center;
		}
		#zbmjtable tbody tr,#zd5List tbody tr,#xtjList tbody tr,#yjdmtable tr{
			text-align: center;
		}
	</style>
</head>
<body>
	
	<div class="topbar">
		<div class="topbarbox">
			<div style="float: left;">
				今天是
				<span id="nongli"></span>
			</div>
			<div style="float: right;">
				您好！
				<span id="yonghuming"></span>
				&nbsp;&nbsp;&nbsp;
				<a href="javascript:;" id="out" style="color: red;">退出</a>
			</div>
		</div>
	</div>
	
    <div class="topBanner"></div>
	
	<!-- 导航栏 -->
	<div class="wrap" id="app">
	    <ul class="layui-nav cbox padd">
			<li class="layui-nav-item"><a href="index.html">首页</a></li>
	        <li class="layui-nav-item" v-for="item in list">
	          <a href="javascript:;">{{item.modelName}}</a>
			  <dl class="layui-nav-child">
			        <dd v-for="k in item.subModelList">
			        	<a :href="k.url" v-html="k.modelName"></a>
			        </dd>
			    </dl>
	        </li>
	      </ul>
	</div>
	<!-- 导航栏 -->
	
	
	
	
	
	
	
	
    <div class="zhibantable" style="margin-bottom: 150px;" >
		  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 25px;">
            <legend>每日110</legend>
          </fieldset>
			<div class="layui-container">
				<div class="layui-row">
					<div class="layui-col-lg12" style="text-align: center;">
						<p style="font-size: 48px;font-family: 宋体;color: #FF0000;">邗江指挥中心每日情况通报</p>
						<span style="font-size: 26px;">
							第
							<div class="layui-input-inline">
								<input type="text" class="layui-input" style="width: 70px;">
							</div>
							期
						</span>
					</div>
					<div class="layui-col-lg4">
						<p style="font-size: 21px;">邗江分局指挥中心编</p>
					</div>
					<div class="layui-col-lg2 layui-col-md-offset6">
						<div class="layui-input-inline">
							<input type="" name="" id="fbsj" value="" class="layui-input" />
						</div>
					</div>
					<div class="layui-col-lg12">
						<hr style="height: 2px; background-color: #FF0000;">
					</div>
				</div>
				<div class="layui-row">
					<div class="layui-col-lg12">
						<p style="font-size: 21px;">
							【接处警情况】
						</p>
					</div>
					<div class="layui-col-lg12">
						<p style="font-size: 21px;margin-top: 37px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一、总体情况
						</p>
						<p style="font-size: 21px;" id="jqStr">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</p>
					</div>
					<div class="layui-col-lg12" style="margin-top: 20px;">
						<div id="jqs" style="width: 1000px;height: 410px;margin: 0 auto;"></div>
					</div>
					<div class="layui-col-lg12">
						<div id="pcsjqs" style="width: 1000px;height: 410px;margin: 0 auto;"></div>
					</div>
				</div>
				<div class="layui-row">
					<div class="layui-col-lg12">
						<p style="font-size: 21px;margin-top: 37px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;二、刑事警情
						</p>							
					</div>
					<div class="layui-col-lg12">
						
						<p style="font-size: 21px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;富文本
						</p>
						
					</div>
					<div class="layui-col-lg12">
						<p style="font-size: 21px;margin-top: 37px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三、涉黑涉恶警情
						</p>							
					</div>
					<div class="layui-col-lg12">
						<p style="font-size: 21px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;无
						</p>
					</div>
				</div>
				<div class="layui-row" id="mvp">
					<div class="layui-col-lg12">
						<p style="font-size: 21px;margin-top: 37px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;四、移动接处警应用
						</p>
						<p style="font-size: 21px;" id="tbrqmd">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</p>
					</div>
					<div class="layui-col-lg12">
						<table class="layui-table" id="yjjcjtb">
							<thead>
							      <tr>
							        <th>序号</th>
							        <th>单位名称</th>
							        <th>总警情量</th>
							        <th>新平台接警量</th>
									<th>老平台接警量</th>
									<th>新平台接警率</th>
									<th>总处警登记</th>
									<th>新平台桌面端处警登记</th>
									<th>新平台移动端处警登记</th>
									<th>新平台处警率</th>
							      </tr> 
							    </thead>
								<tbody>
									<tr v-for="(item,index) in message">
										<td>{{index+1}}</td>
										<td style="width: 235px;">{{item.dw}}</td>
										<td>{{item.zjql}}</td>
										<td>{{item.xptjjl}}</td>
										<td>{{item.lptjjl}}</td>
										<td>{{item.xptjjlv}}%</td>
										<td>{{item.zcjdj}}</td>
										<td>{{item.xptzmdcjdj}}</td>
										<td>{{item.xptyddcjdj}}</td>
										<td>{{item.xptcjlv}}%</td>
									</tr>
								</tbody>
						</table>
					</div>
					<div class="layui-col-lg12">
						<p style="font-size: 21px;padding-top: 25px;">
							【综合指挥室运行情况】
						</p>
					</div>
					<div class="layui-col-lg12">
						富文本
						
					</div>
					<div class="layui-col-lg12">
						<p style="font-size: 21px;margin-top: 37px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;四、在岗人员点名
						</p>
						<p style="font-size: 21px;" id="zgrydm">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</p>
					</div>
					<div class="layui-col-lg12">
						<table class="layui-table" id="zbmjtable">
							<thead>
							      <tr>
							        <th>单位</th>
							        <th>值班领导</th>
							        <th>应答</th>
							        <th>值班民警</th>
									<th>应答</th>
									<th>社区民警</th>
									<th>应答</th>
							      </tr> 
							    </thead>
								<tbody>
									<tr v-for="(item,index) in zbmjdm">
										<td>{{item.deptName}}</td>
										<td>{{item.police}}</td>
										<td>{{item.yd}}</td>
										<td>{{item.zbPolice}}</td>
										<td>{{item.zbYd}}</td>
										<td>{{item.sqPolice}}</td>
										<td>{{item.sqYd}}</td>
									</tr>
								</tbody>
						</table>
					</div>
					<div class="layui-col-lg6">
						<table class="layui-table" id="zd5List">
							<thead>
							      <tr>
							        <th>单位</th>
							        <th>值班民警</th>
									<th>应答</th>
							      </tr> 
							    </thead>
								<tbody>
									<tr v-for="(item,index) in zd5list">
										<td>{{item.deptName}}</td>
										<td>{{item.police}}</td>
										<td>{{item.yd}}</td>
									</tr>
								</tbody>
						</table>
					</div>
					<div class="layui-col-lg6">
						<table class="layui-table" id="xtjList">
							<thead>
							      <tr>
							        <th>单位</th>
							        <th>巡逻人员</th>
									<th>应答</th>
							      </tr> 
							    </thead>
								<tbody>
									<tr v-for="(item,index) in xtjlist">
										<td>{{item.deptName}}</td>
										<td>{{item.police}}</td>
										<td>{{item.yd}}</td>
									</tr>
								</tbody>
						</table>
					</div>
					
					<div class="layui-col-lg12">
						<p style="font-size: 21px;margin-top: 37px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;五、应急点名
						</p>
						<p style="font-size: 21px;" id="yjrmdm">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</p>
					</div>
					<div class="layui-col-lg12">
						<table class="layui-table" id="yjdmtable">
							      <tr>
							        <th>单位</th>
							        <th>邗上</th>
							        <th>汊河</th>
							        <th>四季园</th>
									<th>念四桥</th>
									<th>新盛</th>
									<th>瓜洲</th>
									<th>蒋王</th>
									<th>甘泉</th>
							      </tr> 
									<tr>
										<td style="background-color:#78BFD9;color: white;">应答情况</td>
										<td>{{yjdm.D0059}}</td>
										<td>{{yjdm.D0068}}</td>
										<td>{{yjdm.D0181}}</td>
										<td>{{yjdm.D0191}}</td>
										<td>{{yjdm.D00003}}</td>
										<td>{{yjdm.D0078}}</td>
										<td>{{yjdm.D0086}}</td>
										<td>{{yjdm.D0245}}</td>
									</tr>
									<tr>
									  <th>单位</th>
									  <th>杨庙</th>
									  <th>槐泗</th>
									  <th>方巷</th>
									  <th>公道</th>
									  <th>杨寿</th>
									  <th>竹西</th>
									  <th>江阳</th>
									  <th>西湖</th>
									</tr> 
									<tr>
										<td style="background-color:#78BFD9;color: white;">应答情况</td>
										<td>{{yjdm.D0095}}</td>
										<td>{{yjdm.D0102}}</td>
										<td>{{yjdm.D0112}}</td>
										<td>{{yjdm.D0122}}</td>
										<td>{{yjdm.D0173}}</td>
										<td>{{yjdm.D0209}}</td>
										<td>{{yjdm.D0238}}</td>
										<td>{{yjdm.D0220}}</td>
									</tr>
									<tr>
									  <th>单位</th>
									  <th>刑警</th>
									  <th>巡特警</th>
									  <th>交警</th>
									  <th>汊河中队</th>
									  <th>公道中队</th>
									  <th>瓜洲中队</th>
									  <th>甘泉中队</th>
									  <th>方巷中队</th>
									</tr> 
									<tr>
										<td style="background-color:#78BFD9;color: white;">应答情况</td>
										<td>{{yjdm.D0018}}</td>
										<td>{{yjdm.D0050}}</td>
										<td>{{yjdm.D0032}}</td>
										<td>{{yjdm.D0044}}</td>
										<td>{{yjdm.D0038}}</td>
										<td>{{yjdm.D0037}}</td>
										<td>{{yjdm.D0039}}</td>
										<td>{{yjdm.D0040}}</td>
									</tr>
						</table>
					</div>
					<div class="layui-col-lg12">
						<p style="font-size: 21px;padding-top: 25px;">
							【工作提示】
						</p>
						<p style="font-size: 21px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							请各单位进一步加大安
							全防范宣传力度，加强对辖区内重点区域、路段、部位的巡逻盘查，提高见警率，全力维护社会治安稳定。<strong>根据市局统一部署要求，全区实行战时勤务。</strong>
							<br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							请各派出所对照《扬州市公安局邗江分局派出所综合指挥室工作规范》的要求，对综合指挥室运行质态进行自查整改，完善配套运作机制 ，严格执行实体化、实战化运作；要严格落实指挥员、警辅力量常态入驻综合指挥室制度。
						</p>
					</div>
					<div class="layui-col-lg12">
						<hr style="height: 2px; background-color: #FF0000;">
					</div>
					<div class="layui-col-lg6">
						<span style="font-size: 21px;">
								<strong>承办人：</strong>
								<div class="layui-input-inline">
									<input type="text" class="layui-input" style="width: 120px;">
								</div>
						</span>
					</div>
					<div class="layui-col-lg6">
						<span style="font-size: 21px;float: right;">
								<strong>审核人：</strong>
								<div class="layui-input-inline">
									<input type="text" class="layui-input" style="width: 120px;">
								</div>
						</span>
					</div>
					<div class="layui-col-lg12" style="text-align: center;margin-top: 30px;">
						<button class="layui-btn" style="width: 120px;">
							保存
						</button>
					</div>
				</div>
				
			</div>
		  
		  
    </div>
	
	
	
	

    <div id="footer"></div>



<script src="vue.js" type="text/javascript" charset="utf-8"></script>
<script src="vnav.js" type="text/javascript" charset="utf-8"></script>
<script src="layui.all.js"></script>
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="xiugai">修改</a>
	<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="del">删除</a>
	<!-- <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="copy">复制地址</a> -->
</script>
<script src="jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="locationurl.js" type="text/javascript" charset="utf-8"></script>
<script src="base.js" type="text/javascript" charset="utf-8"></script>
<script src="echarts.min.js" type="text/javascript" charset="utf-8"></script>
<script src="wangEditor.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	
	$("#footer").load("public/footer.html");
	
	
	var lohref = window.location.href;
	var listId = lohref.substr(lohref.indexOf("=")+1);
	var upload = layui.upload;
	var laydate = layui.laydate;
	var table = layui.table;
	function getTabledata(url){
		table.render({
		  elem: '#mrtbList'
		  ,url: url
		  ,cols: [[
		     {field: '', title: '序号',width:60,templet: function(d){ return (d.LAY_INDEX); },align:"center"}
		    ,{field:'', title: '通报日期',  align:"center",templet: function(d){ return (d.tbrq+"每日通报");}}
			,{title:'操作', toolbar: '#barDemo',align:"center"}
		  ]]
		});
	}
	
	// 获取详情
	$.get(baseUrl+"/mrtb/queryById?id="+listId,function(res){
		console.log(res);
		$("#jqStr").append(res.data.jqStr);
		// 警情数第一个图表
		var myChart = echarts.init(document.getElementById('jqs'));
		option = {
			color: ["#4F81BD"],
			title:{
				text:"警情数",
				left: 'center',
				align: 'right'
			},
			 tooltip: {
			        // 触发方式
			        trigger: 'axis'
			 },
		    xAxis: {
		        type: 'category',
		        data: res.data.jqxAxis
		    },
		    yAxis: {
		        type: 'value'
		    },
			 grid: {
			     left: "0%",
			     top: "30px",
			     right: "0%",
			     bottom: "4%",
			     containLabel: true
			   },
		    series: [{
		        data: res.data.jqseries,
		        type: 'bar',
		        // showBackground: true,
		        backgroundStyle: {
		            color: 'rgba(220, 220, 220, 0.8)'
		        },
				barWidth: "25%",
		    }]
		};
		myChart.setOption(option);
		// 警情数第二个图表
		//jqDwArr
		//pcsjqs
		var myChart1 = echarts.init(document.getElementById('pcsjqs'));
		option1 = {
			color: ["#4F81BD","#C0504D","#9BBB59"],
		    legend: {},
		    tooltip: {},
		    dataset: {
		        source:res.data.jqDwArr
		    },
			grid: {
			    left: "0%",
			    top: "30px",
			    right: "0%",
			    bottom: "4%",
			    containLabel: true
			  },
		    xAxis: {type: 'category'},
		    yAxis: {},
		    series: [
		        {type: 'bar'},
		        {type: 'bar'},
		        {type: 'bar'}
		    ]
		};
		myChart1.setOption(option1);
		
		// 通报日期
		$("#tbrqmd").append(res.data.tbrqmd+"，各派出所、交警中队移动接处警应用情况如下：")
		
		// 移动接处警数据展示
		var app1 = new Vue({
		  el: '#mvp',
		  data: {
		    message: res.data.ydjcjList,
			zbmjdm:res.data.pcs16List,
			zd5list:res.data.zd5List,
			xtjlist:res.data.xtjList,
			yjdm:res.data.yjdm
			
		  }
		})
		
		// 在岗人员点名标题
		$("#zgrydm").append(res.data.dmtime+"，分局指挥中心通过350M电台系统对各单位在岗民警（除外勤、休假外）进行了点名，详细情况如下：")
		
		// 应急人员点名
		$("#yjrmdm").append(res.data.yjdmtime+"，分局指挥中心通过350M电台系统对各单位进行了应急点名，详细情况如下：")
		
		
	})
	
	
		
	
	
	// 发布时间
	laydate.render({
	    elem: '#fbsj'
	});
   
	
	
	
</script>

</body>
</html>