<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <title>综合指挥质效平台-应急点名查看</title>
    <link rel="stylesheet" href="css/layui.css">
    <link rel="stylesheet" href="css/common.css">
	<style type="text/css">
		.midd{
			text-align: center;
		}
		.midd th{
			text-align: center;
		}
		.layui-table-tool{
			z-index: 1;
		}
	</style>
</head>
<body>
	<div class="topbar">
		<div class="topbarbox">
			<div style="float: left;">
				今天是
				<span id="nongli"></span>
			</div>
			<div style="float: right;">
				您好！
				<span id="yonghuming"></span>
				&nbsp;&nbsp;&nbsp;
				<a href="javascript:;" id="out" style="color: red;">退出</a>
			</div>
		</div>
	</div>
	
    <div class="topBanner"></div>
	
	<!-- 导航栏 -->
	<div class="wrap" id="app">
	    <ul class="layui-nav cbox padd">
			<li class="layui-nav-item"><a href="index.html">首页</a></li>
	        <li class="layui-nav-item" v-for="item in list">
	          <a href="javascript:;">{{item.modelName}}</a>
			  <dl class="layui-nav-child">
			        <dd v-for="k in item.subModelList">
			        	<a :href="k.url" v-html="k.modelName"></a>
			        </dd>
			    </dl>
	        </li>
	      </ul>
	</div>
	<!-- 导航栏 -->
	
	<div class="zhibantable" style="margin-bottom: 40px;">
	    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 25px;">
	        <legend>应急点名统计</legend>
	      </fieldset>  
		 <table class="layui-hide" id="djjdetail" lay-filter="demo"></table>
	</div>
	
	<div class="zhibantable" style="margin-bottom: 150px;">
	    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px;display: none;" id="singleHead">
			<legend id="singTime"></legend>
	      </fieldset>  
		<table class="layui-hide" id="singldetail"></table>
	</div>
	
	
	
	
	
	
<div id="footer"></div>
    



<script src="vue.js" type="text/javascript" charset="utf-8"></script>
<script src="vnav.js" type="text/javascript" charset="utf-8"></script>
<script src="layui.all.js"></script>
<script src="jquery.js"></script>
<script src="locationurl.js" type="text/javascript" charset="utf-8"></script>
<script src="base.js" type="text/javascript" charset="utf-8"></script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs " lay-event="itemDetail">查看详情</a>
  <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="daochu">导出详情</a>
  <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="xiugai">修改</a>
 
</script>
<script type="text/javascript">
	
	$("#footer").load("public/footer.html");
	var table=layui.table;
	table.render({
	  elem: '#djjdetail'
	  ,url:baseUrl+"/yjdm/queryYjdmPage"
	  ,defaultToolbar: []
	  ,page:true
	  ,cols: [[
		 {field: '', title: '序号',templet: function(d){ return (d.LAY_INDEX); },align:"center",width:80}
	    ,{field:'dm_time',  title: '点名日期',align:"center"}
		,{field:'yd1Total',  title: '应答单位数',align:"center"}
		,{field:'yd1totalPrecent',  title: '应答率',align:"center" ,templet:function(d){ return (d.yd1totalPrecent*100).toFixed(1)+"%"}}
		,{fixed: 'right', title:'操作', toolbar: '#barDemo',align:"center"  }
	  ]]
	});
	
	table.on('tool(demo)', function(obj){
	    var data = obj.data;
		var dmTime = data.dm_time;
	    if(obj.event === "daochu"){
			window.location.href = baseUrl+"/yjdm/exportYjdmByDate?dmTime="+dmTime+"&token="+token;
		}else if(obj.event === "xiugai"){
			//console.log(dmTime)
			window.location="xiugaiyinji.html?dmTime="+dmTime;
			//2020-04-10 10:00:00
			
			
		}else if(obj.event === "itemDetail"){
			$("#singleHead").show().children().text(dmTime);
			single(baseUrl+"/yjdm/queryYjdmByDmTime?dmTime="+dmTime);
		}
	  });
	
	//baseUrl+"/yjdm/queryYjdmByDmTime?dmTime="+ dmTime
	
	
	function single(url){
		table.render({
		  elem: '#singldetail'
		  ,url:url
		  ,toolbar:"#toolbarDemo"
		  ,cols: [[
			 {field: '', title: '序号',width:60,templet: function(d){ return (d.LAY_INDEX); },align:"center"}
			,{field:'deptName', title: '被点单位',align:"center",width:250,}
			,{field:'yd',  title: '应答情况',align:"center",templet:function(d){ if(d.yd==1){return "正常应答"}else if(d.yd==2){return "无人应答"}else{ return "非本人应答" }}},
			
		  ]]
		});
	}
	
	
</script>
	







</body>
</html>